.section-heading .subtitle-top {
    font-family: $bizzency-secondary-font;
    font-size: 14px;
    font-weight: 300;
    color: $bizzency-primary-clr;

   .title {
      font-family: $bizzency-primary-font;
      font-size: 32px;
      font-weight: 400;
      color: $bizzency-primary-clr;
   }

   .description {
      font-family: $bizzency-secondary-font;
      font-size: 14px;
      font-weight: 300;
      color: $bizzency-primary-clr;
    }
 }