/* Global color for bizzency  */
    $bizzency-primary-clr: #0f2f44;
    $bizzency-secondary-clr: #8484bf;
    $bizzency-deep-brown: #5d3b15;
    $bizzency-deep-green: #344a1f;
    $bizzency-deep-purple: #392960;
    $bizzency-section-bg: #f5f5f5;
    $bizzency-arrow-hover: #fcc512;
    $bizzency-white-clr: #ffffff;
    $bizzency-social-icon: #777777;
    $bizzency-deep-gray: #e9e9e9;
    $bizezency-nav-hover-bg: #fff9e6;

    /* Global font family for bizzency */
    $bizzency-primary-font: 'Abril Fatface', cursive;
    $bizzency-secondary-font: 'Open Sans', sans-serif;

    /* Global Typrography font size */
    $bizzency-body-text-size: 16px;

   